.header-wrapper .header-social, .sticky-header .sticky-shadow, .tfs-slider .slide-content, #header, .header-v4 #small-nav, .header-v5 #small-nav, #footer, .footer-area, #slidingbar, .page-title-container {
  padding-left: 30px;
  padding-right: 30px; }

#main {
  padding-left: 30px;
  padding-right: 30px; }

.width-100 .fullwidth-box, .width-100 .fusion-section-separator {
  padding-left: 30px;
  padding-right: 30px; }

.width-100 .fullwidth-box, .width-100 .fusion-section-separator {
  margin-left: -30px;
  margin-right: -30px; }

/* for full width container with 100% interior checked */
.width-100 .hundred-percent-fullwidth {
  padding-left: 0px !important;
  padding-right: 0px !important; }

.mobile-menu-design-modern #mobile-nav li a, .mobile-header-search {
  padding-left: 30px;
  padding-right: 30px; }

.mobile-menu-design-modern #mobile-nav li.mobile-nav-item .open-submenu {
  padding-right: 35px; }

.mobile-menu-design-modern #mobile-nav li.mobile-nav-item li a {
  padding-left: 42px; }

.mobile-menu-design-modern #mobile-nav li.mobile-nav-item li li a {
  padding-left: 55px; }

.mobile-menu-design-modern #mobile-nav li.mobile-nav-item li li li a {
  padding-left: 68px; }

.mobile-menu-design-modern #mobile-nav li.mobile-nav-item li li li li a {
  padding-left: 81px; }

.rtl.mobile-menu-design-modern #mobile-nav li.mobile-nav-item .open-submenu {
  padding-left: 30px;
  padding-right: 15px; }

.rtl.mobile-menu-design-modern #mobile-nav li.mobile-nav-item li a {
  padding-left: 0;
  padding-right: 42px; }

.rtl.mobile-menu-design-modern #mobile-nav li.mobile-nav-item li li a {
  padding-left: 0;
  padding-right: 55px; }

.rtl.mobile-menu-design-modern #mobile-nav li.mobile-nav-item li li li a {
  padding-left: 0;
  padding-right: 68px; }

.rtl.mobile-menu-design-modern #mobile-nav li.mobile-nav-item li li li li a {
  padding-left: 0;
  padding-left: 81px; }
