/*colors*/
$white: #ffffff;
$blue: rgb(29, 117, 207);
$gray: #646464;

/*fonts*/
$serif: pt-serif, Georgia, serif;

.clearfix {
  clear: both;
}

header{
  background: $white;
  color: $white;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase;
  &.ent {
    margin-bottom: 20px;
  }
  &.rec {
    margin-top: 20px;
  }

  .col2 { margin-top: 31px; }

}

.section-title {
  background: $blue;
  color: $white;
  display: block;
  margin: 0 0 2em 0;
}

.wrapper {
  height: 100%;
  overflow: hidden;
  max-width: 940px;
  margin: 0 auto;
}
body {
  line-height: 1.5em;
  background-color : $white;
  font-family: $serif !important;
}
  .row {
    margin-bottom: 3em;
  }
  .post-excerpt {
    color: $gray;
    font-size: 25px;
    line-height: 22.5px;
    a{
      &:hover {
        color: $gray;
      }
    }
  }
  .col1 {
    text-align: center;
    .section-title {
      background: $blue;
      color: $white;
      display: block;
      width: 200px;
    }
  }

  p {
    letter-spacing: 1px;
  }

  img { 
    height: auto;
    max-width: 100%;
  }

  .featured-post {
    h2 {
      font-size: 38px;
      letter-spacing: -1px;
      line-height: 41px;
      font-style: italic;
      text-rendering: optimizelegibility;
      font-weight: 700;
      font-family: $serif !important;
    }
  } //featured post

  .post {
    font-family: $serif !important;

    h2 {
      a {
        font-size: 26px;
      }
      p {
        font-size: 16px;
      }
    }

  } //regular post

  .aside {
    img {
      max-width: none;
      width: initial;
    }
  }

  .rest-of-posts {
    border-top: 1px solid #666;
    padding-top: 1em;
  }



  .timestamp {
    margin: 0;
    padding: 0;
    color: #969696;
    text-transform: uppercase;
    font: 11px/11px; 
    width: 100%;
    display: inline-block;
    text-align: center;
  }


  @media screen and (min-width: 480px) {
    .col1 {
      max-width: 640px;
      float: left;
      margin-right: 320px;
    }
    .col2 {
      float: right;
      margin-left: -300px;
      width: 300px;
    }
  }

  /*this theme*/

  /*max width*/
  #header-sticky .avada-row, #header .avada-row, #main .avada-row, .footer-area .avada-row, #slidingbar-area .avada-row, #footer .avada-row, .page-title, .header-social .avada-row, #small-nav .avada-row, .tfs-slider .slide-content-container .slide-content { max-width: 1000px !important; }
  /*search box*/
  .main-nav-search-form {
    display: inline-block !important; 
  }
  /*this theme*/
  input.gsc-search-button, input.gsc-search-button:hover, input.gsc-search-button:focus {
    border-color: inherit;
    background-color: inherit;
    background-image: inherit;
  }
  .cse .gsc-search-button input.gsc-search-button-v2, input.gsc-search-button-v2 {
    width: initial !important;
    height: initial !important;
  }
  .gsib_a, .gsib_b {
    padding: 0 !important;
  }

  .header-wrapper .header-social .avada-row, .header-wrapper #header .avada-row, .footer-area > .avada-row, #footer > .avada-row, #header-sticky .avada-row {
    margin-left: 7px !important;
  }
